{% extends 'base/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <a href="#" class="btn btn-danger"> Guardar</a>
        <a href="#" class="btn btn-success"> Imprimir</a>
        <a href="{% url 'fac:factura_list' %}" class="btn btn-info">Cancelar</a>
    </div>
    <div class="card-body">
        <div class="content">
            <!-- Seccion Superior -->
            <div class="row">
                <!-- Sección Izquierda -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-1">No.</div>
                        <div class="col-lg-4">
                            <input type="text" name="enc_id" id="enc_id" readonly class="form-control">
                        </div>
                        <div class="col-lg-2">Cliente</div>
                        <div class="col-lg-4 form-group">
                            <select name="enc_cliente" id="enc_cliente">
                                <option value="0">Seleccione Cliente</option>
                                {% for item in clientes %}
                                    <option value="{{item.id}}">{{ item.nombres }} {{item.apellidos}}</option>
                                {% endfor %}                              
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 p-2">
                            <div class="row">
                                <div class="col-lg-2">
                                    Fecha:
                                </div>
                                <div class="col-lg-8 form-group">
                                    <input type="text" name="fecha" id="fecha" class="form-control form-control-user" value="{{ enc.fecha|date:'Y-m-d' }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Sección Izquierda -->
                <!-- Sección Derecha -->
                <div class="col-lg-6">
                    Sección Derecha
                </div>
                <!-- Fin Sección Derecha-->
            </div>
            <!-- Fin Seccion Superior -->
            <!-- Inicio Detalle -->
            <hr>
            <div class="row p-1">
                Detalle
            </div>
            <!-- Fin Detalle -->
        </div>
    </div>
</div>
{% endblock page_content %}
{% block js_page %}
<script>
    $(function(){ //Hace que se esconda o no, el menu lateral izquierdo
        $("#sidebarToggle").click();
        $("#enc_cliente").select2({
            placeholder:"Seleccione Cliente",
            allowClear: true
        });
    });
</script>
{% endblock js_page %}