<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado Compras</title>
    
    <style type="text/css">
        @page{
            size: letter;
            margin: 1cm;
        }
        .table td .numero{
            text-align: center;
        }
    </style>
<body>
    <div class="container">
        <div class="card">
            <div class="car-header">
                <h4>Sitema de Compras DEBS</h4>
            </div>

            <div class="list-group">
                <p>No. Compra: {{ encabezado.id }}</p>
                <table class="">
                    <tr>
                        <td>Proveedor:</td>
                        <td>{{ encabezado.proveedor }}</td>
                        <td>Fecha Compra:</td>
                        <td>{{ encabezado.fecha_compra|date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <td>No. Factura</td>
                        <td> {{ encabezado.no_factura }}</td>
                        <td>Fecha Factura:</td>
                        <td>{{ encabezado.fecha_factura| date:"d/m/Y" }}</td>
                    </tr>
                    <tr>
                        <td>Observación:</td>
                        <td colspan="3"> {{ encabezado.observacion }}</td>
                    </tr>
                </table>

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>No. Compra</th>
                        <th>Proveedor</th>
                        <th>Fecha</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for items in obj %}
                    <tr>
                        <td>{{ items.id }}</td>
                        <td>{{ items.proveedor }}</td>
                        <td>{{ items.fecha_compra | date:"d/m/Y" }}</td>
                        <td>{{ items.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>