<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado Compras</title>
    
    <style type="text/css">
    @page{
        size: letter;
        margin: 1cm;
    }
    </style>
<body>
    <div class="container">
        <div class="card">
            <div class="car-header">
                <h4>Sitema de Compras DEBS</h4>
                <h3>Reporte de Compras al {{ today|date:"d/m/Y" }}</h3>
            </div>
        </div>
    </div>
</body>
</html>